@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  user-select: none;
}

.scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 20px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background-color: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #dc944c;
  border-radius: 100vh;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #dc944c;
}

input {
  outline: none;
  background: rgba(255, 255, 255, 0.9);
}

.pincodeInput::-webkit-inner-spin-button,
.pincodeInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.skeleton-loader {
  display: inline-block;
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    #2f2f2f -24.18%,
    #171717 50.26%,
    #222222 114.82%,
    #000000 114.84%
  );
}
.skeleton-loader::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background: linear-gradient(
    90deg,
    #ffffff6c -24.18%,
    #ffffff95 50.26%,
    #ffffff4d 114.82%,
    #ffffff0e 114.84%
  );
  filter: blur(10px);
  animation: shimmer 2s infinite;
  content: "";
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background-color: transparent;
}

.hidden-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(231, 151, 72);
}
