@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 20px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f7f4ed;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #dc944c;
  border-radius: 100vh;
  border: 3px solid #f6f7ed;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #dc944c;
}

.radiocustom {
  visibility: hidden;
}

.labelcustom {
  cursor: pointer;
  border-radius: 4px;
  border: 2px solid transparent;
}

.radiocustom:checked + .labelcustom {
  border-color: white;
}

.ratingcustom {
  display: none;
}
.customInput {
  outline: none;
}
input {
  outline: none;
}

.pincodeInput::-webkit-inner-spin-button,
.pincodeInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.skeleton-loader {
  display: inline-block;
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    #2f2f2f -24.18%,
    #171717 50.26%,
    #222222 114.82%,
    #000000 114.84%
  );
}
.skeleton-loader::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background: linear-gradient(
    90deg,
    #ffffff6c -24.18%,
    #ffffff95 50.26%,
    #ffffff4d 114.82%,
    #ffffff0e 114.84%
  );
  filter: blur(10px);
  animation: shimmer 2s infinite;
  content: "";
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
